h1{
  text-align: center;
  color: antiquewhite;
}

h2{
  text-align: center;
  color: antiquewhite;
}

body{
  text-align: left;
  line-height: 40px;
  background-color: olive;
  color: antiquewhite;
}