h1{
  text-align: center;
}

h2{
  text-align: center;
}

body{
  font-family: sans-serif;
  background-color: lightblue;
  text-align: center;
}

ul{
  line-height: 50px;
}

li{
  width: 100%;

}

p{
line-height: 50px;
}